Source: mountimage
Section: misc
Priority: optional
Maintainer: Thomas Mittelstaedt <thomas.mittelstaedt@de.bosch.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8.1.3)

Package: mountimage
Section: misc
Architecture: all
Depends: util-linux, mount 
Description: Mount an image file or an image device to a local mountpoint
  mountimage.sh mounts and umounts an image file or an image device to a local mount point.
  It uses profiles at at ~/mountimage.profiles.
  Have a look at output starting mountimage.sh without parameters.
 
